*.class
*.jar
*.log
output/
output_*/
ml-latest/ 
ml-latest-small/ 
.ipynb_checkpoints/ 
ml-latest/ 
ml-latest-small/ 
.ipynb_checkpoints/ 
ratings.csv 
movies.csv 
ratings.csv 
movies.csv 
ml-latest/ 
ml-latest-small/ 
ml-100k/ 
